html {
	position fixed;
}

body {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
	color: rgb( 0,0,0 );
}

html,
body {
	overflow: hidden;
	border: 0;
	margin: 0;
	padding: 0;
}

#logo_overlay {
	z-index: 2147483647;
}
